*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
}

.sidebar{
    position:fixed;
    left:0px;
    width: 40%;
    height:100%;
    background-color: grey;
}
  
.sidebar header{
    font-size: 25px;
    color: black;
    text-align: center;
    line-height:70px;
    background-color: rgb(96, 96, 96);
    user-select:none;
     
}

.sidebar ul a{
    display:block;
    height:100%;
    width: 100%;
    line-height: 80px;
    font: size 20px;
    color:black;
    padding-left: 60px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: .4s;
     
    font-size: 25px;
}

ul li:hover a{
    padding-left:70px;
    
}

.sidebar ul a i{
  margin-right:16px;
}
